body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	text-trasform:none;
}

h1,h2,h3,h4,h5,h6{
	text-trasform:none;
}

.subheading{
	text-trasform:none;
}

bottom,select{
	text-trasform:none;
}