body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
	color:#1C2427;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
	font-size:1.3rem;
	text-transform:none;
	letter-spacing:-0.05rem
}

a {
    color: #F26D6D;
}

body{
	text-transform:none;

}

button,select {
  text-transform: none; 
}

h1{
	font-size:6rem;
}
	
h1 .text-primary {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
	color:#F26D6D!important;
}

.subheading{
	line-height:2rem
}

.bg-primary {
background-color: #f27874!important;
background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
}
	
.text-primary {
    color: #F26D6D!important;
}

p.mb-5{
	color:#03738C;
}

#sideNav .navbar-nav .nav-item .nav-link {
    text-transform: none; 
}

th{
	text-align:center;
	background-color:#f5f5f5;
}

tr:hover{
	background-color:#f5f5f5;
	text-align:left;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

#graph_set{
	width:1150px;
	height:900px;
	padding:1.25rem;
	border:5px dashed #C4C4C4;
	margin:2px 
}

.row{
    width:1050px;
	height:850px;
	padding:1px;
	margin:1px 
}

.card-1{
	width:280px;
	height:350px;
	border:1px solid #000000;
	margin:10px;
}

.photography{
	width:100%;
}

.text-center {
    text-align: center!important;
}

.card_text{
	width:280px;
	height:140px;
    text-align: center!important;
	padding:6px;
}

.card_text_1{
	padding:6PX;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}
