body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}

.subheading{
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	text-transform:none;
}

h1,h2,h3,h4,h5,h6{
	text-transform:none;
}

.subheading{
	text-transform:none;
	font-size:1.5rem;
	letter-spacing:-0.05rem
}

button,select {
  text-transform: none; 
}

h1,h2,h3,h4,h5,h6{
	letter-spacing:1.3rem;
}

h1{
	font-size:5rem;
}
	
h1 .text-primary {
    font-size: 3rem;
    letter-spacing: -0.05rem;
    line-height: 3rem;
}

